$footerHeight: 80px;
$footerBottomMargin: 40px;
$backgroundColor: hsla(0, 0%, 96%, 1);

$borderColor: hsla(0, 0%, 90%, 1);
$color: hsla(0, 0%, 50%, 1);
$padding: 10px;
$hotColor: hsla(7, 71%, 55%, 1);

$cardBorderRadius: 3px;
$cardShadow: 0 1px 3px hsla(0, 0%, 50%, 0.3);
$cardBackground: hsla(0, 0%, 99%, 1);

// Buttons Colors
$btnBackgroundColor: hsla(0, 0%, 93%, 1);
$btnColor: hsla(0, 0%, 43%, 1);
$btnHoverBackgroundColor: hsla(207, 50%, 90%, 1);
$btnInverseBackgroundColor: hsla(220, 5%, 40%, 1);
$btnPrimaryBackgroundColor: hsla(217, 82%, 60%, 1);
$btnPrimaryColor: hsl(212, 85%, 45%);
$btnDangerBackgroundColor: hsl(3, 58%, 48%);
$btnDangerColor: hsl(0, 100%, 30%);
$btnSuccessBackgroundColor: hsl(104, 58%, 38%);
$btnSuccessColor: hsl(104, 44%, 30%);
$btnWarningBackgroundColor: hsl(40, 99%, 60%);
$btnWarningColor: hsl(40, 99%, 45%);

$sidebarWidth: 270px;
$transitionTime: 0.25s;
