<a class="btn btn-navbar btn-sidebar" ng-click="$parent.isSidebarOpen = !$parent.isSidebarOpen">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<a class="brand js-navigate-link" href="#" class="js-navigate-link">Contacts</a>

<div class="nav-collapse">
    <ul class="nav">
        <li>
            <a href="#" class="js-navigate-link"><i class="icon-home"></i> Home</a>
        </li>
        <li>
            <a href="http://github.com/osama-ibrahim/ng-modern-webapp" target="_blank"><i class="icon-github"></i> View on GitHub</a>
        </li>
    </ul>
</div>
